@charset "utf-8";
/* CSS Document */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}
table th
 {
   background: #ff471a;
}
.content1
{
	overflow-y:auto;
	position: absolute;
	left: 240px;
	top: 100px;
	width: 500px;
	height: 380px;
	box-shadow: 1px 2px 60px  black;
	padding: 20px 30px;
	background: #2F2F2F;
	color: white;
	text-align: center;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

.content2
{
	overflow-y:auto;
	position: absolute;
	left: 840px;
	top: 100px;
	width: 430px;
	height: 380px;
	box-shadow: 1px 2px 60px  black;
	padding: 20px 30px;
	background: #2F2F2F;
	color: white;
	text-align:center;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

input[type=text], select {
    width: 100%;
    padding: 8px 8px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
input[type=list], select {
    width: 100%;
    padding: 8px 8px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}


.button1 {
     background-color: #FF8C00;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
background-image: linear-gradient(orange,#ff7617);
}