@charset "utf-8";
/* CSS Document */

.content1
{
	position: absolute;
	left: 240px;
	top: 131px;
	width: 368px;
	height: 346px;
	box-shadow: 1px 2px 60px  black;
	padding: 20px 30px;
	background: #2F2F2F;
	color:white;
	text-align:center;
	font-family: �Lucida Sans Unicode�, �Lucida Grande�, sans-serif;
}
.content2
{
	position: absolute;
	left: 775px;
	top: 134px;
	width: 368px;
	height: 240px;
	box-shadow: 1px 2px 60px  black;
	padding: 20px 30px;
	background: #2F2F2F;
	color: white;
	text-align: center;
	font-family: �Lucida Sans Unicode�, �Lucida Grande�, sans-serif;
}
.button1 {
     background-color: #FF8C00;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
background-image: linear-gradient(orange,#ff7617);
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}
table th
 {
   background: #ff471a;
}